.about {
  margin: 0 auto;
  margin-top: 120px;
}

.about__container {
  box-sizing: border-box;
  display: flex;
  column-gap: 70px;
}


.about__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: #041827;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin: 0;
}

.about__description {
  position: relative;
  color: #041827;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-top: 15px;
}

.about__description.hidden {
  display: none;
}

.about__button {
  box-sizing: border-box;
  display: flex;
  color: #00b2ff;
  border-color: #00b2ff;
  margin-top: 20px;
  max-width: 180px;
  height: 45px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}

.about__button.hidden {
  display: none;
}

.about__button--secondary.hidden {
  display: none;
}

@media (max-width: 1440px) {
  .about__container {
    max-width: 100%;
  }

  .about__description::before {
    left: -40%;
  }
}

@media (max-width: 769px) {

  .about {
    margin-top: 20px;
  }

  .about__container {
    max-width: 100%;
  }

  .about__picture {
    display: none;
  }

  .about__title {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 140.62%;
  }

  .about__description {
    font-size: 14px;
    line-height: 134.4%;
    margin-top: 10px;
  }

  .about__description--mobile {
    display: none;
  }

  .about__description::before {
    left: -70%;
  }

  .about::before {
    display: none;
  }

  .about__button {
    font-size: 14px;
    width: 160px;
    height: 34px;
    margin-top: 16px;
  }
}


