.footer {
  background-color: #041827;
  min-height: 280px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.footer__wrapper {
  display: flex;
}

.social__logo {
  display: flex;
  background: url("../img/logo.svg") no-repeat center;
  width: 215px;
  height: 55px;
  padding: 0;
  margin-top: 5px;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 35px;
}

.social__link {
  display: flex;
  width: 40px;
  height: 40px;
}

.social__link--ok{
  background: url("../img/ok.svg") no-repeat center;
}

.social__link--vk {
  background: url("../img/vk.svg") no-repeat center;
}

.social__link--pint {
  background: url("../img/pinterest.svg") no-repeat center;
}

.sitemap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 470px;
  width: 100%;
  margin-top: 10px;
}

.footer__title {
  margin: 0;
  color: #ffffff;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
}

.sitemap__list {
  display: grid;
  grid-template-columns: repeat(2, 220px);
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  row-gap: 10px;
  column-gap: 30px;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.sitemap__link,
.contacts__wrapper > span,
.contacts__phone {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  line-height: 135%;
}

.contacts__wrapper > span {
  margin-top: 20px;
}

.contacts__phone {
  margin-top: 10px;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

@media (max-width: 1350px) {
  .footer {
    padding: 50px 50px 65px;
  }

  .footer__container {
    flex-direction: column;
    padding-top: 0;
  }

  .footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    column-gap: 110px;
  }

  .social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 215px;
    width: 100%;
    align-items: flex-end;
  }

  .sitemap {
    min-width: 220px;
    width: 50%;
  }

  .sitemap__list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 593px) {
  .footer {
    padding: 0;
  }

  .footer__container {
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 25px;
  }

  .footer__wrapper {
    width: 94%;
  }

  .social {
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .social__list {
    margin-top: 17px;
    gap: 14px;
  }

  .sitemap {
    width: 100%;
    margin-top: 7px;
  }

  .social::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 1px;
    background-color: rgba(248, 253, 255, 0.7);
    bottom: -25px;
    left: -25px;
  }

  .sitemap {
    position: relative;
  }

  .sitemap__title {
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
  }

  .sitemap > span:nth-of-type(1) {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: -15px;
    background: url("../img/plus.svg") no-repeat center;
  }

  .sitemap > span:nth-of-type(1).hidden {
    display: none;
  }

  .sitemap > span:nth-of-type(2) {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: -15px;
    background: url("../img/minus.svg") no-repeat center;
  }

  .sitemap > span:nth-of-type(2).hidden {
    display: none;
  }


  .sitemap::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 1px;
    background-color: rgba(248, 253, 255, 0.7);
    bottom: -25px;
    left: -25px;
  }

  .sitemap__list.closed {
    display: none;
  }

  .footer__wrapper {
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
  }

  .contacts {
    position: relative;
    margin-top: 13px;
  }

  .contacts__title {
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
  }

  .contacts__wrapper {
    gap: 3px;
  }

  .contacts__wrapper > span {
    font-size: 14px;
    line-height: 135%;
  }

  .contacts__phone {
    font-size: 14px;
    line-height: 135%;
  }

  .contacts__wrapper.closed {
    display: none;
  }

  .contacts__button--close {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: -15px;
    background: url("../img/minus.svg") no-repeat center;
  }

  .contacts__button--close.hidden {
    display: none;
  }

  .contacts__button--open {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: -15px;
    background: url("../img/plus.svg") no-repeat center;
  }

  .contacts__button--open.hidden {
    display: none;
  }

  .contacts:before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 1px;
    background-color: rgba(248, 253, 255, 0.7);
    bottom: -25px;
    left: -25px;
  }
}
