.header {
  position: fixed;
  top: 0;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 120px;
}

.nav__link {
  display: flex;
  text-decoration: none;
  color: #f2f5f7;
  height: 20px;
  width: 100%;
  justify-content: flex-start;
  padding-left: 30px;
}

.nav__logo {
  display: flex;
  background: url("../img/logo.svg") no-repeat center;
  width: 215px;
  height: 55px;
  padding: 0;
}

.nav__mail {
  background: url("../img/email.svg") no-repeat 30px;
  justify-content: center;
  padding: 0;
  padding-left: 40px;
}

.nav__phone {
  background: url("../img/phone-call.svg") no-repeat;
}

.button {
  display: flex;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #f2f5f7;
  color: #f2f5f6;
  font-family: "Roboto Condensed", sans-serif;
  padding: 10px 15px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
}

@media (max-width: 1030px) {
  .header {
    width: 100%;
    padding: 0;
  }

  .nav__list {
    justify-content: unset;
  }

  .nav__element:nth-child(1) {
    margin-right: auto;
  }
  .nav__mail,
  .nav__phone {
    background-position: center;
    padding: 0;
    width: 40px;
    height: 40px;
  }


  .nav__text {
    display: none;
  }

  .nav__button {
    display: none;
  }
}

@media (max-width: 597px) {
  .header {
    width: 100%;
    padding: 0;
  }

  .nav {
    padding-left: 30px;
  }

  .nav__element:nth-child(2) {
    margin-left: auto;
  }

  .nav__link {
    min-width: none;
  }

  .nav__link:first-of-type {
    min-width: 35px;
  }

  .nav__logo {
    background: url("../img/logo-mobile.svg") no-repeat center;
    width: 35px;
  }

  .nav__phone {
    right: -97%;
  }
}