.main {
  position: relative;
  height: 880px;
  background-color: #041827;
  background: url("../img/main-background.jpg") no-repeat center/cover;
}

.main__title {
  margin: 0;
  position: absolute;
  top: 35%;
  left: 20%;
  color: #f2f5f6;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.main__description {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 20%;
  color: #f2f5f7;
  font-family: 'PT Mono';
  font-weight: 400;
  font-size: 22px;
  line-height: 155%;
  max-width: 685px; 
  display: flex;
}

@media (max-width: 770px) {
  .main__title {
    font-size: 64px;
    line-height: 75px;
  }

  .main__description {
    font-size: 22px;
  }
}

@media (max-width: 320px) {
  .main__title {
    font-size: 36px;
    line-height: 42px;
  }

  .main__description {
    font-size: 14px;
  }
}